* {
  box-sizing: border-box;
}

body {
  font-family: 'open-sans', sans-serif;
  color: #212529;
}

.header {
  background-color: #fff;
  transition: 0.5s;
  z-index: 997;
  height: 90px;
  border-bottom: 1px solid #fff;
}
a {
  color: #ce1212;
  text-decoration: none;
}
.header .logo h1 {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin: 0;
  font-family: 'inter', sans-serif;
}
.header .logo h1 span {
  color: #ce1212;
}
@media (min-width: 1280px) {
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }
  .navbar li {
    position: relative;
  }
  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #7f7f90;
    white-space: nowrap;
    position: relative;
  }
  .navbar .active {
    color: #000;
  }
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }
  .navbar > ul > li > a::before {
    content: '';
    position: absolute;
    height: 2px;
    bottom: -6px;
    background-color: #ce1212;
    transition: all ease 0.3s;
  }
}
.btn-book-a-table {
  font-size: 14px;
  color: #fff;
  background-color: #ce1212;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  transition: 0.3s;
}
.hero {
  width: 100%;
  background-size: cover;
  position: relative;
  min-height: 60vh;
  padding: 160px 0 60px 0;
}
.section-bg {
  background-color: #eee;
}
.hero .btn-watch-video {
  font-size: 16px;
  transition: 0.3s;
  margin-left: 25px;
  font-family: 'inter', sans-serif;
  font-weight: 600;
  color: #000;
}
.hero .btn-watch-video i {
  color: #ce1212;
  font-size: 32px;
  transition: 0.5s;
  line-height: 0;
  margin-right: 8px;
}
.btn-watch-video span:hover {
  text-decoration: none;
  color: #ce1212;
}
.hero h2 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #37373f;
  font-family: 'amatic sc', sans-serif;
}
.hero p{
  color: #4f4f5a;
  font-weight: 400;
  margin-bottom: 30px;
}
