* {
  box-sizing: border-box;
}

body {
  font-family: 'open-sans', sans-serif;
  color: #212529;
}

.header {
  background-color: #fff;
  transition: 0.5s;
  z-index: 997;
  height: 90px;
  border-bottom: 1px solid #fff;
}
a {
  color: #ce1212;
  text-decoration: none;
}
.header .logo h1 {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin: 0;
  font-family: 'inter', sans-serif;
}
.header .logo h1 span {
  color: #ce1212;
}
@media (min-width: 1280px) {
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }
  .navbar li {
    position: relative;
  }
  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #7f7f90;
    white-space: nowrap;
    position: relative;
  }
  .navbar .active {
    color: #000;
  }
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }
  .navbar > ul > li > a::before {
    content: '';
    position: absolute;
    height: 2px;
    bottom: -6px;
    background-color: #ce1212;
    transition: all ease 0.3s;
  }
}
.header .btn-book-a-table {
  font-size: 14px;
  color: #fff;
  background-color: #ce1212;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  transition: 0.3s;
}
.hero {
  width: 100%;
  background-size: cover;
  position: relative;
  min-height: 60vh;
  padding: 160px 0 60px 0;
}
.section-bg {
  background-color: #eee;
}
.hero .btn-watch-video {
  font-size: 16px;
  transition: 0.3s;
  margin-left: 25px;
  font-family: 'inter', sans-serif;
  font-weight: 600;
  color: #000;
}
.hero .btn-watch-video i {
  color: #ce1212;
  font-size: 32px;
  transition: 0.5s;
  line-height: 0;
  margin-right: 8px;
}
.btn-watch-video span:hover {
  text-decoration: none;
  color: #ce1212;
}
.hero h2 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #37373f;
  font-family: 'amatic sc', sans-serif;
}
.hero p {
  color: #4f4f5a;
  font-weight: 400;
  margin-bottom: 30px;
}
.hero .btn-book-a-table {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 36px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background-color: #ce1212;
}
.hero .btn-book-a-table:hover {
  background: rgba(206, 18, 18, 0.8);
  box-shadow: 0 8px 28px rgba(206, 18, 18, 0.45);
  text-decoration: none;
}
/*about page*/
section {
  scroll-margin-top: 90px;
  overflow: hidden;
  padding: 80px 0;
}
.section-header {
  text-align: center;
  padding-bottom: 30px;
}
.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #7f7f90;
  text-transform: uppercase;
  font-family: 'open-sans', sans-serif;
}
.section-header p {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  font-family: 'Amatic SC', sans-serif;
}
.section-header p span {
  color: #ce1212;
}
.about .about-img {
  min-height: 500px;
}
.about .call-us {
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
  padding: 20px;
  align-items: center;
}
.fst-italic {
  font-style: italic;
}
.about .content ul {
  padding: 0;
  list-style: none;
}
.about .content ul li {
  padding: 0 0 8px 26px;
  position: relative;
}
.about .content ul i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: #ce1212;
}
.about .play-btn {
  width: 94px;
  height: 94px;
  background-color: #ce1212;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}
.about .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(206, 18, 18, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}
.about .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
}
.why-us .why-box {
  padding: 30px;
  background-color: #ce1212;
  color: #fff;
}
.why-us .why-box h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}
.why-box p {
  margin-bottom: 30px;
}
.why-box .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
}
.why-box .more-btn i {
  font-size: 14px;
}
.why-us .icon-box {
  text-align: center;
  background-color: #fff;
  padding: 30px 40px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(55, 55, 63, 0.1);
  transition: 0.3s;
}
.why-us .icon-box i {
  color: #ce1212;
  font-size: 32px;
  margin-bottom: 30px;
  background: rgba(206, 18, 18, 0.1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}
.why-us .icon-box h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 30px 0;
  font-family: 'inter', sans-serif;
}
.why-us .icon-box p {
  font-size: 15px;
  color: #6c757d;
}
.stats-counter {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://bootstrapmade.com/demo/templates/Yummy/assets/img/stats-bg.jpg)
      center center;
  background-size: cover;
  padding: 100px 0;
}
@media (min-width: 1365px) {
  .stats-counter {
    background-attachment: fixed;
  }
}
.stats-counter .stats-items {
  padding: 30px;
}
.stats-counter .stats-items span {
  font-size: 48px;
  display: block;
  color: #fff;
  font-weight: 700;
}
.stats-items p {
  padding: 0;
  margin: 0;
  font-family: 'inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
}
/*menu page*/
.menu .nav-tabs {
  border: 0;
}
.menu .nav-link.active {
  color: #ce1212;
  border-color: #ce1212;
}
.menu .nav-link h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  font-family: 'inter', sans-serif;
}
.menu .nav-link {
  margin: 0 10px;
  padding: 10px 5px;
  transition: 0.3s;
  color: #37373f;
  border-radius: 0;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 2px solid #b6b6bf;
}
.menu .tab-content .tab-header p {
  font-size: 14px;
  text-transform: uppercase;
  color: #676775;
  margin-bottom: 0;
}
.menu .tab-header {
  padding: 30px 0;
}
.tab-header h3 {
  font-size: 36px;
  font-weight: 600;
  color: #ce1212;
}
.menu .tab-content .menu-item h4 {
  font-size: 22px;
  font-weight: 500;
  color: #37373f;
  font-family: 'inter', sans-serif;
  margin-bottom: 5px;
}
.menu-img {
  padding: 0 60px;
  margin-bottom: 15px;
}
.menu .tab-content .menu-item {
  text-align-last: center;
}
.menu-item .ingredients {
  font-family: 'inter', sans-serif;
  color: #8d8d9b;
  margin-bottom: 5px;
}
.menu-item .price {
  font-size: 24px;
  font-weight: 700;
  color: #ce1212;
}
.testimonials-content {
  border-left: 3px solid #ce1212;
  padding: 30px;
}
.testimonials-content p {
  font-style: italic;
}
.testimonials-content h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #212529;
  font-family: 'inter', sans-serif;
}
.quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
  color: #ce1212;
  font-size: 26px;
  line-height: 0;
}
.quote-icon-right {
  color: #ce1212;
  font-size: 26px;
  line-height: 0;
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);
}
.testimonials-content h4 {
  font-size: 14px;
  color: #6c757d;
  margin: 0 0 10px 0;
  font-family: 'inter', sans-serif;
}
.stars i {
  color: #ffc107;
  margin: 0 1px;
}
.testimonials-img {
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.image {
  background-image: url(https://bootstrapmade.com/demo/templates/Yummy/assets/img/events-1.jpg);
  background-size: cover;
  width: 423.667px;
  height: 600px;
  padding: 30px;
}
.events-item h3 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
  position: relative;
}
.events-item .price {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
  position: relative;
  border-bottom: 2px solid #ce1212;
}
.events-item .description {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
}
.img-1 {
  background-image: url(https://bootstrapmade.com/demo/templates/Yummy/assets/img/events-2.jpg);
  background-size: cover;
  width: 423.667px;
  height: 600px;
  padding: 30px;
}
.img-2 {
  background-image: url(https://bootstrapmade.com/demo/templates/Yummy/assets/img/events-3.jpg);
  background-size: cover;
  width: 423.667px;
  height: 600px;
  padding: 30px;
}
.chef-member {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0 30px rgba(55, 55, 63, 0.08);
  transition: 0.3s;
}

.chef-member .member-img {
  position: relative;
  overflow: hidden;
}
.chef-member .social {
  position: absolute;
  right: -100%;
  top: 30px;
  opacity: 0;
  border-radius: 4px;
  transition: 0.4s;
  background: rgba(255, 255, 255, 0.3);
  z-index: 2;
}
.chef-member .social a {
  transition: 0.3s;
  color: rgba(55, 55, 63, 0.4);
  margin: 15px 12px;
  display: block;
  line-height: 0;
  text-align: center;
}
.member-img::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url(https://bootstrapmade.com/demo/templates/Yummy/assets/img/team-shape.svg)
    no-repeat center bottom;
  background-size: contain;
  z-index: 1;
}
.member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #37373f;
}
.member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: rgba(33, 37, 41, 0.4);
}
.member-info p {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: rgba(33, 37, 41, 0.7);
}
.member-info {
  padding: 10px 15px 20px 15px;
}
.pic {
  background-image: url(https://bootstrapmade.com/demo/templates/Yummy/assets/img/reservation.jpg);
}
.book-a-table .reservation-img {
  min-height: 500px;
  background-size: cover;
  background-position: center;
}
.reservation-form-bg {
  background-color: rgba(55, 55, 63, 0.04);
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 24px;
}
.book-a-table .text {
  padding: 12px 15px;
  border-radius: 0;
  font-size: 14px;
}
.loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}
.error-message {
  display: none;
  color: #fff;
  background-color: #df1529;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
.sent-message {
  display: none;
  color: #fff;
  background-color: #059652;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
button[type='submit'] {
  background-color: #ce1212;
  border: 0;
  padding: 14px 60px;
  color: #fff;
  transition: all ease 0.3s;
  border-radius: 50px;
}
.contact .info-item {
  background-color: #f4f4f4;
  padding: 30px;
  height: 100%;
}
.contact .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 26px;
  line-height: 0;
  color: #fff;
  background-color: #ce1212;
  border-radius: 50%;
  margin-right: 15px;
}
.info-item h3 {
  font-size: 20px;
  color: #6c757d;
  font-weight: 700;
  margin: 0 0 5px 0;
}
.info-item p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}
.php-email-form {
  width: 100%;
  margin-top: 30px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}
.form-group {
  padding-bottom: 20px;
}
.php-email-form input {
  height: 48px;
  border-radius: 0;
  font-size: 14px;
  box-shadow: none;
}
.padding {
  padding: 40px;
}
.footer {
  font-size: 14px;
  background-color: #1f1f24;
  padding: 50px 0;
  color: rgba(255, 255, 255, 0.7);
}
.footer .icon {
  margin-right: 15px;
  font-size: 24px;
  line-height: 0;
}
.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  color: #fff;
}
.social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
}
.footer .copyright{
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .credits{
  text-align: center;
  padding-top: 4px;
  font-size: 13px;
}